.App {
  text-align: center;
  padding:0.3em;
}

.breadcrumbs{
  height: 2em;
  width: 100%;
  /* margin: 0.5em; */
  background: #d3d3d352;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.05em;
}

.List,.ReactVirtualized__Grid__innerScrollContainer{
  overflow: auto !important;
  outline: none !important;
}

.breadcrumbs-input{
  width: 97%;
    height: 2em;
    /* border: none; */
    background: #d3d3d338;
    border: 1px solid lightgray;
    font-size: 1em;
    padding-left: 0.5em;
    outline: none;
}